{% extends 'base.html.twig' %}

{% block title %}Nouvel emploi{% endblock %}

{% block body %}

<style>
.btn.btn-primary {
    height: 60px;
    width: 150px;
}

.btn.btn-success, .btn.btn.btn-secondary {
    height: 60px;
    width: 150px;
}
</style>


    	<h2 class="font-weight-bold display-4 ">NOUVEL
		<span style="color: #2277ff">EMPLOI</span>
	</h2>
    <hr>

    <div class="newform">
        {{ include('emploi/_form.html.twig') }}
    </div>
   
    <a href="{{ path('message_index') }}"><button class="btn btn-primary mt-3">Voir tous les emplois</button></a>
{% endblock %}

